In [10]:
import numpy as np
import pandas as pd
import lxml.html as ht
import requests
from bs4 import BeautifulSoup

### Requesting Url and getting data from url

In [20]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
result = requests.get(url)
soup = BeautifulSoup(result.content, 'html.parser')
table = soup.find_all('table')[0]
df = pd.read_html(str(table))
data = pd.read_json(df[0].to_json(orient='records'))

### First 5 records

In [21]:
data.head()

            Borough              Neighbourhood Postal Code
0      Not assigned               Not assigned         M1A
1      Not assigned               Not assigned         M2A
2        North York                  Parkwoods         M3A
3        North York           Victoria Village         M4A
4  Downtown Toronto  Regent Park, Harbourfront         M5A

### Choosing only data where field Borough doesn't have not assigned value

In [24]:
raw_data = data[data['Borough'] != 'Not assigned']

In [27]:
raw_data = raw_data.groupby(['Borough', 'Postal Code'], as_index=False).agg(','.join)

In [28]:
raw_data.head()

           Borough Postal Code                      Neighbourhood
0  Central Toronto         M4N                      Lawrence Park
1  Central Toronto         M4P                   Davisville North
2  Central Toronto         M4R  North Toronto West, Lawrence Park
3  Central Toronto         M4S                         Davisville
4  Central Toronto         M4T        Moore Park, Summerhill East

### Replacing values in Neighbourhood field with Borough where Neighbourhood is not assigned

In [30]:
raw_data['Neighbourhood'] = np.where(raw_data['Neighbourhood'] == 'Not assigned', raw_data['Borough'], raw_data['Neighbourhood'])

In [32]:
raw_data.shape

(103, 3)

In [33]:
geospatial_url = "https://cocl.us/Geospatial_data"
geospatial_data = pd.read_csv(geospatial_url)

In [34]:
geospatial_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [38]:
merge_data = pd.merge(geospatial_data,raw_data,on=)

Index(['Postal Code', 'Latitude', 'Longitude'], dtype='object')